* {
    box-sizing: border-box;
}

header {
position: fixed;
z-index: 10;
}

.retangulo-header{
position: absolute;
width: 100vw;
height: 50px;
top:-60%;
margin: -10px;
z-index:-1;
background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
#logo{
position: relative;
right: -50px;
top: -10px;
}

#botao-menu{
position: relative;
right: -80vw;
top: -8px;
}
main {
   display: flexbox;
   justify-content: center;
}
.botao-esquerda{
    position: relative;
    right:590px;
    top: 110px;
}
.botao-direita{
    position: relative;
    right:95px;
    top: 110px;
}
#seta-esquerda{
    position: relative;
    right: 615px;
    top: 120px;
}
#seta-direita{
    position: relative;
    right: 118px;
    top: 120px;
  
}

.menu{
    position: relative;
    right: 100vw;
    width: 25%;
    flex-direction: column;

}
.banner{
    display: flex;
    justify-content:center;
    width: 100vw;
    position: relative;
    top: 40px;
}

.Imagem-Menu{
    width: 608px;
    height: 80px;
    background: rgba(196, 196, 196, 0.5);
}

.catalogo{
    display: flex;
    padding: 1%;
    margin: 5%;;
    justify-content: space-around;
}


.retangulo1{
margin-top: 2%;
display:inline-block;
background-color:  #EEEEEE;
text-align: justify;
padding: 5%;
font-family: 'Ropa Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 11px;
margin-left: 5%;
margin-right: 5%;
width: 35%;
justify-content: baseline;
}

.retangulo2{
margin-top: 2%;
background-color:  #EEEEEE;
text-align: justify;
padding: 5%;
font-family: 'Ropa Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 11px;
margin-right: 5%;
margin-left: 5%;
width: 35%;
}

    .preço{
        font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: #888888;
    }

.texto{
    font-family: 'Ropa Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 11px;
text-align: justify;
color: #555555;
}
.subtítulo{
    text-align: center;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: #888888;
    margin-top: -3%;
}


.menu-industrial {
    display: flex;
    justify-content: center;
    padding: 1%;
    width: 100vw;
    opacity: 60%;
}

.menu-modern {
    display: flex;
    justify-content: center;
    padding: 1%;
    width: 100vw;
    position: relative;
    right: 9px;
    text-align: center;
    opacity: 60%;
}
.menu-classic {
    display: flex;
    justify-content: center;
    padding: 1%;
    width: 100vw;
      width: 100vw;
      position: relative;
      right: 12px;
      opacity: 60%;
}
.Texto-Industrial{
  font-family: 'Ropa Sans';
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    right: 330px;
    top: 25px;
}

.Texto-Modern{
    font-family: 'Ropa Sans';
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    right: 330px;
    top: 25px;
}

.Texto-Classic{
    font-family: 'Ropa Sans';
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    right: 330px;
    top: 25px;
}


footer{
    display: flex;
    justify-content: baseline;
    padding: 5%;
    background-color: #333333;
    margin-top: 1%;
    width: 100%;
}

.redes-sociais{
flex-direction: column;
align-content:flex-end;
text-align: end;
font-family: 'Ropa Sans';
font-style: normal;
color: #FFFFFF;
font-size: 12px;
position: relative;
top: 160px;
right: 30vw;
}

.mapa{
    display: flex;
    justify-content: center;
   position: relative;
   right: -20%;

}
.Endereço{
 position: relative;
 right: -30vw;
    width: 60vw;
    font-family: 'Ropa Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 13px;
    text-align: justify;
    color: #FFFFFF;
}